*{
    box-sizing: border-box;
}
body{
    background-color:black;
    height: 1670px;
}
.logo{
    /* border: 2px solid rgb(28, 25, 25); */
    width: 150px;
    padding: 5px;
    margin-top: 50px;
}
.logo a{
    font-family: 'Sansita Swashed', cursive;
    text-decoration: none;
    color: rgb(247, 240, 240);
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
}
.logo a:hover{
    color: rgb(235, 58, 161);
}
.home img{
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin-left: 20px;
}
.home{
    /* border: 2px solid rgb(29, 27, 27); */
    width: 150px;
    padding: 4px;
    margin-top: 2px;
}
.home a{
    text-decoration: none;
    color: rgb(250, 244, 244);
    font-weight: bold;
    font-size: 19px;
}
.home a:hover{
    color: rgb(237, 218, 218);
}
.search{
    /* border: 2px solid rgb(243, 213, 213); */
    width: 150px;
    padding: 2px;
}
.search img{
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin-left: 20px;

}
.search a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.search a:hover{
    color:  rgb(237, 218, 218);
}
.explore{
    /* border: 2px solid wheat; */
    width: 150px;
}
.explore img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.explore a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.explore a:hover{
    color:  rgb(237, 218, 218);
}
.reels{
    width: 150px;
}
.reels img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.reels a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.reels a:hover{
    color:  rgb(237, 218, 218);
}
.messages{
    width: 160px;
}
.messages img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.messages a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.messages a:hover{
    color:  rgb(237, 218, 218);
}
.notification{
    width: 180px;
}
.notification img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.notification a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.notification a:hover{
    color:  rgb(237, 218, 218);
}
.create{
    width: 150px;
}
.create img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.create a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.create a:hover{
    color:  rgb(237, 218, 218);
}
.profile{
    width: 200px;
}
.profile img{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-left: 20px;
}
.profile a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.profile a:hover{
    color:  rgb(237, 218, 218);
}
.more{
    width: 150px;
}
.more img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    filter: invert(100%);
}
.more a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.more a:hover{
    color:  rgb(237, 218, 218);
}
.box{
    /* border: 2px solid gray; */
    position: absolute;
    top: 7%;
    left: 46%;
    transform: translate(-50% -50%);
}
.box p{
    color: rgb(227, 234, 241);
    font-weight: bolder;
    font-family: 'Fasthand', cursive;
    font-size: 20px;
}
#btn{
    /* border: 2px solid white; */
    width: 300px;
    position: absolute;
    top: 9%;
    left: 62%;
    transform: translate(-50% -50%);
}
#btn input{
    width: 100px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
}
#btn input:hover{
    color: rgb(1, 1, 1);
    border: 5px solid rgb(254, 253, 253);
    font-weight: bolder;
}
.post{
    /* border: 2px solid white; */
    color: white;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 46%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.post p:hover{
    color: lightgrey;
}
.follower{
    /* border: 2px solid white; */
    color: white;
    width: 150px;
    position: absolute;
    top: 20%;
    left: 52%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.follower p:hover{
    color: lightgray;
}
.follow{
    /* border: 2px solid white; */
    color: white;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 62%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.follow p:hover{
    color: lightgrey;
}
.des{
    /* border: 2px solid wheat; */
    width: 180px;
    color: white;
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50% -50%);
}
.story1{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 24%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story1 img{
    border: 3px solid rgb(11, 10, 10);
}
.story1 img:hover{
    border: 2px solid whitesmoke;
}
.story2{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 32%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story2 img{
    border: 3px solid rgb(11, 10, 10);
}
.story2 img:hover{
    border: 2px solid whitesmoke;
}
.story3{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story3 img{
    border: 3px solid rgb(11, 10, 10);
}
.story3 img:hover{
    border: 2px solid whitesmoke;
}
.story4{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story4 img{
    border: 3px solid rgb(11, 10, 10);
}
.story4 img:hover{
    border: 2px solid whitesmoke;
}
.story5{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 54%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story5 img{
    border: 3px solid rgb(11, 10, 10);
}
.story5 img:hover{
    border: 2px solid whitesmoke;
}
.story6{
    /* border: 2px solid wheat; */
    width: 70px;
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50% -50%);
    border-radius: 100px;
}
.story6 img{
    border: 3px solid rgb(11, 10, 10);
}
.story6 img:hover{
    border: 2px solid whitesmoke;
}
.plus{
    width: 70px;
    position: absolute;
    top: 54%;
    left: 70%;
    transform: translate(-50% -50%);
    border-radius: 1000px;
    height: 70px;
}
.plus img{
    filter: invert(100%);
    border: 3px solid rgb(11, 10, 10);
}
.plus img:hover{
    border: 2px solid whitesmoke;
}
.set{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 9%;
    left: 78%;
    transform: translate(-50% -50%);
    border-radius: 100px;
    
}
.set img{
    filter: invert(100%);
}
.one{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 57%;
    left: 3%;
    transform: translate(-50% -50%);
}
.one img{
    position: fixed;
    filter: invert(100%);
}
.hed1{
    /* border: 2px solid wheat; */
    color: white;
    width: 70px;
    position: absolute;
    top: 72%;
    left: 25%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.hed2{
    /* border: 2px solid wheat; */
    color: white;
    width: 70px;
    position: absolute;
    top: 72%;
    left: 33.5%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.hed3{
    /* border: 2px solid wheat; */
    color: white;
    width: 70px;
    position: absolute;
    top: 72%;
    left: 42.5%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.hed4{
    /* border: 2px solid wheat; */
    color: white;
    width: 70px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.hed5{
    /* border: 2px solid wheat; */
    color: white;
    width: 70px;
    position: absolute;
    top: 72%;
    left: 57%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.hed6{
    /* border: 2px solid wheat; */
    color: white;
    width: 140px;
    position: absolute;
    top: 72%;
    left: 62.5%;
    transform: translate(-50% -50%);
    text-align: center;
    cursor: pointer;
}
.posts img{
    filter: invert(100%);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 86%;
    left: 37%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.posts p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 82.5%;
    left: 38.5%;
    cursor: pointer;
}
.posts p:hover{
    border: 2px solid white;
}
.reel img{
    filter: invert(100%);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 86%;
    left: 44%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.reel p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 82.5%;
    left: 45.5%;
    cursor: pointer;
}
.reel p:hover{
    border: 2px solid white;
}
.sav img{
    filter: invert(100%);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 86%;
    left: 51%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.sav p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 82.5%;
    left: 53%;
    cursor: pointer;
}
.sav p:hover{
    border: 2px solid white;
}
.tag img{
    filter: invert(100%);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 86%;
    left: 59%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.tag p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 82.5%;
    left: 60.5%;
    cursor: pointer;
}
.tag p:hover{
    border: 2px solid white;
}
.image1{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 98%;
    left: 20%;
    transform: translate(-50% -50%);
}
.image1 img{
    width: 270px;
    height: 320px;
}
.image2{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 98%;
    left: 42%;
    transform: translate(-50% -50%);
}
.image2 img{
    width: 270px;
    height: 320px;
}
.image3{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 98%;
    left: 64%;
    transform: translate(-50% -50%);
}
.image3 img{
    width: 270px;
    height: 320px;
}
.image4{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 905px;
    left: 20%;
    transform: translate(-50% -50%);
}
.image4 img{
    width: 270px;
    height: 320px;
}
.image5{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 905px;
    left: 42%;
    transform: translate(-50% -50%);
}
.image5 img{
    width: 270px;
    height: 320px;
}
.image6{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 905px;
    left: 64%;
    transform: translate(-50% -50%);
}
.image6 img{
    width: 270px;
    height: 320px;
}
.image7{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 1227px;
    left: 20%;
    transform: translate(-50% -50%);
}
.image7 img{
    width: 270px;
    height: 320px;
}
.image8{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 905px;
    left: 64%;
    transform: translate(-50% -50%);
}
.image8 img{
    width: 270px;
    height: 320px;
}
.image9{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 1227px;
    left: 42%;
    transform: translate(-50% -50%);
}
.image9 img{
    width: 270px;
    height: 320px;
}
.image10{
    /* border: 2px solid wheat; */
    box-shadow: 2px 2px gray;
    position: absolute;
    top: 1227px;
    left: 64%;
    transform: translate(-50% -50%);
}
.image10 img{
    width: 270px;
    height: 320px;
}
.container{
    position: fixed;
}
.main{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 14%;
    left: 27%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
.main img{
    border-radius: 100px;
}
.tick{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50% -50%);
    background-repeat: no-repeat;
    background-image: none;
}
.tick img{
    width: 28px;
    height: 28px;
    filter: invert(100%);
}
.reeel{
    position: absolute;
    top: 906px;
    left: 39.4%;
    transform: translate(-50% -50%);
}
.reeel img{
    width: 25px;
    height: 25px;
    filter: invert(100%);
}
.nav{
    /* border: 2px solid white; */
    width: 70%;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 1600px;
    left: 17%;
    transform: translate(-50% -50%);
}
.nav ul{
    overflow: auto;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: white;
    display: block;
    float: left;
    padding: 4px;
}
.nav li a:hover{
    border: 2px solid lightslategray;
}
